body {
  margin: 0;
  background-color: #E8EAED!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiCardHeader-action {
  margin: 0!important;
  align-self: flex-end!important;
}

.MuiButton-root {
  text-transform: none!important;
}

.MuiInput-underline::before {
  border-bottom-width: 0!important;
}